.navigation{
  padding: 40px 130px;
  transition: .3s ease;
  &.nav-bg {
    background-color: $primary-color;
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $primary-color;
  }
  @include mobile {
    padding: 15px 10px;
  }
}

.navbar{
  .navbar-brand {
    @include mobile {
      font-size: 1.2rem;
      max-width: calc(100% - 60px);
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
  .navbar-toggler {
    @include mobile {
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
    }
  }
  .nav-item{
    .nav-link{
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 15px;
      background-color: black;
    }
    &.active{
      font-weight: bold;
    }
  }
  .dropdown-menu {
    background-color: black;
    border: none;
    margin-top: 0;
    padding: 0;
    .dropdown-item {
      font-family: $tertiary-font;
      text-transform: uppercase;
      color: $white;
      padding: 15px;
      transition: .3s ease;
      &:hover, &:focus {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  .dropdown-toggle::after {
    vertical-align: middle;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $white;
}