<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <p class="font-secondary paragraph-lg text-dark">
          In my last life I did physics. Some time in 2017, I sat down in lab and, instead of aligning the laser,
          wrote a story. A few months later I published a sci-fi story, instead of a paper, in Nature.
          Then I started writing poetry, too, and it was all downhill<span class='footnote' data-toggle="tooltip"
          title="In the way a stone cannot stop when rolling toward lower ground."></span> from there.</p>
        <p class="font-secondary paragraph-lg text-dark">
          I like writing about women and sharp things, so my poetry<span class='footnote' data-toggle="tooltip"
          title="+1 short story"></span> collection,
          <a href="books/#goddess">Goddess Bandit of the Thousand Hands</a>, is full of them.
          I like stewing in late-night second thoughts and illusions, optical or otherwise, like the ones in my prose
          chapbook, <a href="books/#mother">
          Hard Mother, Spider Mother, Soft Mother</a>. And sometimes I close my eyes and think back to 
          what it was like to not know English, and those fragments went into <a href="books/#amnesia">AMNESIA</a>.
        </p>
        <p class="font-secondary paragraph-lg text-dark">
          I hope you&rsquo;ll stay a while and look around.
          </p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
