// Color Variables
$primary-color: #000;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #666;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$light-gray: #f9f9f9;
$accent-color: #007bff;
$accent-color-dark: #0056b3;
$success-color: #28a745;
$danger-color: #dc3545;
$purple-color: #6f42c1;
$warning-bg: #fff9e6;
$warning-border: #ffd700;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'PT Serif', serif;

$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
