---
---

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/blog';

@import 'templates/about';

@import 'templates/portfolio';

@import 'templates/generators';


/* custom */

body {
    counter-reset: footnotecounter;
}

span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
}

span.footnote {
    color: #007bff;
}

.container li {
    margin: 0.4em;
}