---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative" style="overflow: hidden;">
  <div class="container" >
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white text-outline font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
{% if page.background %}
  <picture>
    <source srcset="{{ site.baseurl }}/assets/images/illustrations/{{ page.background }}-sm.webp 600w,
                    {{ site.baseurl }}/assets/images/illustrations/{{ page.background }}.webp 1200w"
            sizes="100vw"
            type="image/webp">
    <img src="{{ site.baseurl }}/assets/images/illustrations/{{ page.background }}.jpg"
         alt="Decorative background illustration"
         class="bg-shape-1 {{ page.background-align }} h-100"
         loading="eager">
  </picture>
{% endif %}
</section>
<!-- /page title -->

{{ content }}
